{% extends "layout.html" %}

{% block javascript %}

<script>
$(function() {
    $('img').click(function() {
        var id = $(this).attr("id");
        if($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            var posting = $.post("#", {
                image_id : id,
                selected : true
            });
        }
        else {  
            $(this).addClass('selected');
            var posting = $.post("#", {
                image_id : id,
                selected : false
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}
    <div class="container">
        {% for image_src,image_id,face_count,tags,selected in image_srcs %}
         <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="{{ image_src }}" id="{{image_id}}"{% if selected == True %} class='selected' {% endif %} alt="Lights" style="width:100%">
                <div class="caption">{{face_count}}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    
{% endblock %}