{% extends "layout.html" %}

{% block javascript %}
    <script>
        var counter = 0;
        $(function() {
            $('img').click(function() {
                var id = $(this).attr("id");
                if($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    var posting = $.post("/select", {
                        image_id : id,
                        selected : true
                    });
                }
                else {  
                    $(this).addClass('selected');
                    var posting = $.post("/select", {
                        image_id : id,
                        selected : false
                    });
                }
            });
            $('#faces_start').click(function(){
                if (counter == 0) {
                    counter = 1;
                    $('#result').empty();
                    var posting = $.post("#", {
                    });
                    $('#result').after('<br><p>Wait for Face analysis to finish or come back later</p>');
                    posting.done(function (response) {
                       location.reload();
                    });
                }else{
                    alert("wait for ndd to finish");
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <button id="faces_start">Start Face Detection</button>
    <br/>
    <div class="container" id="result">
        {% for image_src,image_id,face_count,selected in image_srcs %}
         <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="{{ image_src }}" id="{{image_id}}"{% if selected == True %} class='selected' {% endif %} alt="Lights" style="width:100%">
                <div class="caption">{{face_count}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}