<div class="container" id="containerId">
        {% for cluster in cluster_list %}
        <br>
            <div class="container">
                {% for image_src, image_id, selected in cluster %}
                     <div class="col-sm-6 col-md-4 col-lg-2">
                         <div class="thumbnail">
    <!--                          <img src="{{ image_src }}" id="{{image_id}}"{% if selected == True %} class='selected' {% endif %} alt="Lights" style="width:100%"> -->
                             <img src="{{ image_src }}" id="{{image_id}}" {% if selected == True %} class='selected' {% endif %} alt="Lights" style="width:100%">
                             {{image_id}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    <script>
        $(function() {
            $('img').click(function() {
                var id = $(this).attr("id");
                if($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    var posting = $.post("/select", {
                        image_id : id,
                        selected : true
                    });
                }
                else {  
                    $(this).addClass('selected');
                    var posting = $.post("/select", {
                        image_id : id,
                        selected : false
                    });
                }
            });
        });
    </script>
</div>